.yesno {
  font-size: 1.4rem;
  display: inline;
};

.borderAMR {
  border: 1px rgba(128, 128, 128, 0.473) solid;
  border-radius: 5px;
};

.centerTitle {
  text-align: center;
};

// .logo__event {
//   width: 100px;
// }

.span_size {
  height: 10%;
}
