.faheartbutton {
  border: none;
  background-color: white;
} 
.addToFavoris {
  width: 30%;
  height: 10%;
  padding: 1rem;
  background-color: rgba(32, 168, 121, 0.137);
}
.addToFavoris_text {
  display: inline;
  color: rgba(0, 0, 0, 0.452);
  margin: auto;
}
.addToFavoris_hide {
  display: none;
}
