@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.image-size {
  width: 100%;
  // justify-content: center;
  margin-top: 0.2rem;
  margin-bottom: 2rem;
  // border-radius: 15px;
}

.font-text {
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 1.5em;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
