.input-style {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid rgba(128, 128, 128, 0.582);
  border-radius: 5px;
}
.hidden {
  display: none;
}

.friend-list-size {
  width: 100%;
}

.dog__name {
  display: inline
}
